body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, 
    url(images/background3.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
color: white;
}

.Logo{
margin-left: 10px;
font-size: 28px;
}

.links{
display: flex;
gap: 10px;
margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(247, 97, 222);
}

.section1{
    display: flex;
    align-items: left;
    justify-content: center;
    margin-top: 300px;
    flex-direction: column;
    margin-left: 250px;
}

.section1 p {
    margin:0px;
}


button{
    background-color: rgb(247, 97, 222);
    color: white;
    font-weight: bold;
    border-color: rgb(247, 97, 222);
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-top: 10px;
    margin-left: 250px;
}

.button:hover {
    background-color: #f9faf8;
    color: rgb(247, 97, 222)
}


.section2{
    padding: 80px;
    margin-top: 450px;
    background-color: rgb(34, 34, 56);
    display: flex;
    justify-content: center;
    gap: 52px;
}

.s2content{
    flex-direction: column;
}

.ititle{
    color: white; 
    font-size: 36px; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.info {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
  }

.card{
    background-color: rgb(247, 97, 222);
    padding: 80px;
    border-radius: 15px;
}

.text{
    margin-top: 12px;
}

.text:hover {
    color: white;
}

.section3{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.section4{
    padding: 110px;
    margin-top: 300px;
    background-color: rgb(34, 34, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucard{
    background-color: rgb(247, 97, 222);
    padding: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}

.sucard p {
    margin:0px;
}

.button2 {
    border: 2px solid #f9faf8;
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 2px;
}

.button2:hover {
    background-color: #f9faf8;
    color: rgb(247, 97, 222)
}

.footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}